@use '@styles/components/media-query.scss' as mediaQuery;
@use '@styles/components/layer.scss' as layerStyle;
@use '@styles/components/btn.scss' as btnStyle;
@use '@styles/base/color.scss' as colorStyle;
.area-auth {
    display: flex;
    align-items: center;
    button {
        text-decoration: none;
    }
    .auth-welcome,
    .auth-avatar,
    .auth-tip {
        margin-right: 10px;
    }
    .auth-avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
    .btn-signin {
        @include btnStyle.btn-for-sign-web;
    }
    .btn-auth-avatar {
        cursor: pointer;
    }
    // .area-user-tools-web {
    //     @include mediaQuery.show-for-web;
    //     .btn {
    //         @include btnStyle.btn-for-sign-web;
    //     }
    // }
    .area-user-tools-mobile {
        
        @include layerStyle.layer-small;
        @include layerStyle.layer-right-top;
        display: flex;
        .btn {
            @include colorStyle.color-purple-1;
            @include btnStyle.btn-for-nav;
            @include btnStyle.btn-for-nav-right;
        }
    }
}
@media (min-width: 769px) {
    .auth-welcome {
        display: flex;
    }
}