@use '@styles/components/item.scss' as itemStyle;
@use '@styles/components/btn.scss' as btnStyle;
.item-learning {
    padding: 10px 0;
    border-bottom: 1px dashed #333;
    position: relative;
    @include itemStyle.item-hover;
    .item-info {
        display: flex;
        justify-content: space-between;
        .item-title {
            font-weight: 700;
        }
        .item-author {
            .span-me {
                color: #00f;
            }
        }
        .item-info-2 {
            > span {
                margin-left: 10px;
            }
        }
    }
    p {
        font-size: 12px;
    }
    .btn-delete {
        @include btnStyle.btn-hover;
    }    
}
    