@use '@styles/base/color.scss' as colorStyle;
button,
a {
    // color: #7928ca;
    text-decoration: underline;
    @include colorStyle.color-purple-1;
}
/*
z-index:
alert: 1999;
modal: 999;
nav: 99;
*/