@mixin bg-pink-1 {
    background-color: rgba(255, 0, 128, .2)
}
@mixin bg-purple-2 {
    background-color: rgba(121, 40, 202, 0.2);
}
@mixin bg-purple-1 {
    background-color: #7928ca;
}

@mixin bg-purple2pink-1 {
    background: linear-gradient(90deg, #7928caff, #ff0080ff);
}

@mixin bg-purple2pink-2 {
    background: linear-gradient(90deg, #7928ca33, #ff008033);
}

@mixin bg-purple2pink-3 {
    background: linear-gradient(90deg, #7928ca20, #ff008020);
}

@mixin bg-purple2pink-4 {
    background: linear-gradient(90deg, #7928ca66, #ff008066);
}

@mixin bg-purple2pink-5 {
    background: linear-gradient(90deg, #7928caaa, #ff0080aa);
}

@mixin color-purple-1 {
    color: #7928ca;
}
