@use '@styles/components/avatar.scss' as avatarStyle;
.area-user {
    padding: 10px 0;
    border-bottom: 1px dashed #333;
    display: flex;
    align-items: center;
    .area-avatar {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        img {
            @include avatarStyle.avatar-100
        }
    }
}