@use '@styles/components/avatar.scss' as avatarStyle;
@use '@styles/components/media-query.scss' as mediaQuery;
.page-details {
    h2 {
        font-size: 32px;
        font-weight: 700;
    }
    p {
        font-size: 16px;
    }
    .area-content {
        .area-content-tools {
            // padding: 10px 0; // wtest backup
            @include mediaQuery.width-for-area-in; // wtest backup
        }
    }
}
.area-info {
    border-top: 1px solid #aaa;
    // border-left: 0;
    // border-right: 0;
    padding: 10px 0;
    margin: 10px 0;
    @include mediaQuery.width-for-area-in;
    .author-info {
        display: flex;
        align-items: center;
        p {
            margin-right: 10px;
        }
        img {
            @include avatarStyle.avatar-26;
        }
    }
}

@media (min-width: 769px) {
    .page-details {
        padding: 10px 10px 20px;
    }
    .area-info {
        padding: 10px 10px 0;
    }
}