.area-visitors {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid #ccc;
    background: #ffffff99;
    color: #000;
    padding: 10px 20px;
    font-size: 12px;
    // opacity: .5;
    h3,
    p {
        text-align: right;
    }
}