/* components/Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalContent {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    h2 {
        font-weight: 700;
    }
    input {
        width: 100%;
    }
    .area-for-child-el {
        display: flex;
        justify-content: center;
    }
    .modal-content {
        display: flex;
        flex-direction: column;
    }
}

.closeButtonModal {
    position: absolute;
    top: 5px!important;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}