
@use '@styles/components/btn.scss' as btnStyle;
@use '@styles/base/color.scss' as colorStyle;
@use '@styles/components/media-query.scss' as mediaQuery;
.area-form {
    // padding: 10px;
    // border: 1px dashed #aaa;
    .area-form-tools {
        display: flex;
        justify-content: end;
        padding-right: 10px;
    }
    .btn-submit {
        @include btnStyle.btn-w-100;
        @include colorStyle.bg-purple-1;
    }
    .area-form-item {
        padding: 0 10px;
        input {
            width: 100%;
        }
    }
}
.area-tools {
    border-bottom: 1px dashed #aaa;
    @include mediaQuery.width-for-area-in;
    button.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: .5;
        filter: grayscale(1);
    }
    .tip {
        @include colorStyle.color-purple-1;
    }
}
.area-content {
    padding-bottom: 0;
    padding-top: 10px;
    // @include mediaQuery.width-for-area;
    code {
        white-space: pre-wrap;
    }
    .area-content-tools {
        display: flex;
        justify-content:end;
        padding: 10px 0;
        @include mediaQuery.width-for-area-in;
        button {
            margin-left: 10px;
            display: flex;
            .count {
                margin-left: 6px;
            }
            &.btn-comment {
                @include btnStyle.btn-click-disabled;
            }
        }
    }
    .area-interaction {
        @include colorStyle.bg-purple2pink-2;
        // padding: 10px 0;
        @include mediaQuery.width-for-area;
    }
    .ul-comment {
        background: #fff;
        margin-bottom: 10px;
        padding: 10px;
        // li {
        //     display: flex;
        //     justify-content: space-between;
        //     padding: 10px;
        //     border-bottom: 1px dashed #333;
        //     .comment-author {
        //         // width: 50px;
        //         margin-right: 6px;
        //         img {
        //             @include avatarStyle.avatar-26;
        //         }
        //     }
        //     .comment-content {
        //         flex-grow: 1;
        //         // background: #eee; // wtest
        //         .area-reply {
        //             @include replyStyle.area-reply
        //         }
        //     }
        //     .btn-reply,
        //     .btn-delete {
        //         padding: 0 6px;
        //     }
        // }
    }
    .area-content-in {
        @include mediaQuery.width-for-area-in;
    }
}
// .wtest-style {
//     border: 1px solid #aaa;
// }
/* wtest */
.form-wtest {
    input,
    textarea {
        border: 1px solid #00f;
    }
}
/* /wtest */

@media (min-width: 769px) {
    .area-interaction,
    .area-content .ul-comment {
        border-radius: 5px;
        padding: 0;
    }
    .area-form {
        .area-form-tools {
            padding-right: 0;
        }
        .area-form-item {
            padding: 0;
        }
    }
}