@use '@styles/components/media-query.scss' as mediaQuery;
@use '@styles/base/color.scss' as colorStyle;
@mixin page-wrap {
    padding: 10px 0;
}
@mixin layout-area-in {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    @include mediaQuery.width-for-area;
}
@mixin layout-area-in-gt-768 {
    width: 1000px;
}

@mixin bg-main-33 {
    @include colorStyle.bg-purple2pink-2;
}

@mixin bg-main-ff {
    @include colorStyle.bg-purple2pink-1;
}

@mixin bg-main-aa {
    @include colorStyle.bg-purple2pink-5;
}
