.area-options {
    display: flex;
    label {
        display: flex;
        margin-right: 10px;
        // border: 1px solid #f00;
        input {
            margin-right: 6px;
        }
    }
}
.testing {
    // border: 1px solid #f00;
}