@mixin btn-hover {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
@mixin btn-click {
    cursor: pointer;
    pointer-events: all;
}
@mixin btn-click-disabled {
    cursor: not-allowed;
    pointer-events: none;
}
@mixin btn-for-nav {
    // color: #fff;
    text-decoration: none;
    padding: 6px 0;
    // text-align: left;
    &:hover {
        text-decoration: underline;
    }
}
@mixin btn-for-nav-left {
    margin-right: 10px;
    text-align: left;
}
@mixin btn-for-nav-right {
    margin-left: 10px;
    text-align: right;
}
@mixin btn-for-sign-web {
    min-height: 28px;
    background: #fff;
    color: #ff0080ff;
    border-radius: 10px;
    font-size: 12px;
    padding: 0 10px;
    display: inline-block;
    width: 78px;
}
@mixin btn-w-100 {
    width: 100px;
}