@use '@styles/base/color.scss' as colorStyle;
@mixin area-reply {
    @include colorStyle.bg-purple-2;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    .btn-reply-cancel {
        width: 26px;
        height: 26px;
    }
}