@use '@styles/base/reset.scss' as reset;
@use '@styles/layouts/layout-main.scss' as layoutMain;


.page {
    @include layoutMain.page-wrap;
    @include layoutMain.bg-main-33;
}
.page-in {
    @include layoutMain.layout-area-in;
    background: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    position: relative;
    padding-bottom: 0;
}

@media (min-width: 769px) {
    .page-in {
        @include layoutMain.layout-area-in-gt-768;
    }
}