html, body, body > div {
    height: 100%;
}
.body-in {
    width: 1000px;
    margin: auto;
}
body .area {
padding: 20px 50px;
}
body .area .area-in {
width: 1000px;
margin: auto;
}
body .area-welcome {
height: 50%;
background: linear-gradient(90deg, #7928ca, #ff0080);
color: #fff;
font-weight: 700;
font-size: 30px;
}
.area-welcome h2 {
    padding-top: 100px;
}