@use '@styles/layouts/layout-main.scss' as layoutMain;
html, body, body .page-home {
    height: 100%;
}
.body-in {
    width: 1000px;
    margin: auto;
}
body .area {
padding: 20px 50px;
}
body .area .area-in {
    @include layoutMain.layout-area-in; // wtest 1000
    margin: auto;
}

body .area-welcome {
    height: 50%;
    background: linear-gradient(90deg, #7928ca, #ff0080);
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
}
.area-welcome h2 {
    // padding-top: 100px;
}

@media (min-width: 769px) {
    body .area .area-in {
        position: relative;
        @include layoutMain.layout-area-in-gt-768;
    }
}