@use '@styles/components/reply.scss' as replyStyle;
@use '@styles/components/btn.scss' as btnStyle;
@use '@styles/base/color.scss' as colorStyle;
.comment-send {
    .area-form {
        display: flex;
        justify-content: space-between;
        .area-comment-enter {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        .btn-submit {
            margin-left: 10px;
            @include btnStyle.btn-w-100;
            @include colorStyle.bg-purple-1;
        }
        .area-reply {
            @include replyStyle.area-reply;
        }
    }
}