@use '@styles/components/avatar.scss' as avatarStyle;
.page-details {
    padding: 10px 10px 20px;
    h2 {
        font-size: 32px;
        font-weight: 700;
    }
    p {
        font-size: 16px;
    }
}
.area-info {
    border-top: 1px solid #aaa;
    // border-left: 0;
    // border-right: 0;
    padding: 10px 10px 0;
    margin: 10px 0;
    .author-info {
        display: flex;
        align-items: center;
        p {
            margin-right: 10px;
        }
        img {
            @include avatarStyle.avatar-26;
        }
    }
}