.item-learning {
    padding: 10px 0;
    border-bottom: 1px dashed #333;
    position: relative;
    h3 {
        font-weight: 700;
        &.item-author {
            .span-me {
                color: #00f;
            }
        }
    }
    p {
        font-size: 12px;
    }
    .btnDelete {
        display: none;
        position: absolute;
        right: 20px;
        bottom: 10px;
    }
    &:hover {
        background: #eee;
        .btnDelete {
            display: inline-block;
        }
    }
    
}
    