@use '@styles/base/reset.scss' as reset;
@use '@styles/layouts/layout-main.scss' as layoutMain;
@use '@styles/components/media-query.scss' as mediaQuery;
@use '@styles/components/layer.scss' as layerStyle;
@use '@styles/components/btn.scss' as btnStyle;
.navbar {
    // @include layoutMain.bg-main-ff;
    color: #fff;
    border-bottom: 1px solid #ffffff33;
    @include layoutMain.bg-main-ff;
}
.navbar-in {
    width: 100%;
    display: flex;
    align-items: center;
    // flex-start;
    padding: 0 10px 0 0;
    justify-content: space-between;
    height: 48px;
    position: relative;
    @include layoutMain.layout-area-in;
    a {
        @include btnStyle.btn-for-nav;
        @include btnStyle.btn-for-nav-left;
    }
    button {
        color: #fff;
    }
    .area-nav {
        display: flex;
        justify-content: center;
        padding: 0;
        position: relative;
        .area-router-for-mobile {
            @include layerStyle.layer-small;
            @include layerStyle.layer-left-top;
            @include mediaQuery.show-for-mobile;
            
        }
        .area-router-for-web,
        .btn-signout-web {
            @include mediaQuery.show-for-web;
        }
        .btn-click {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 48px;
            height: 48px;
            margin-right: 10px;
            @include mediaQuery.btn-click-only-for-mobile;
        }
        // display: none;
    }
}

@media (min-width: 769px) {
    .navbar-in {
        @include layoutMain.layout-area-in-gt-768;
        .area-nav {
            .area-router-for-web,
            .btn-signout-web {
                justify-content: center;
                align-items: center;
            }
            .area-router-for-web {
                button {
                    margin-right: 10px;
                }
            }
        }
    }
}