@import '@styles/base/reset.scss';
@import '@styles/layouts/layout-main.scss';
.navbar {
    @include bg-main-ff;
    color: #fff;
}
.navbar-in {
    @include layout-area-in;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

@media (min-width: 769px) {
    .navbar-in {
        @include layout-area-in-gt-768;
    }
}