.area-form {
    padding: 10px;
    border: 1px dashed #aaa;
    .area-form-item {
        input {
            width: 100%;
        }
    }
}
.area-tools {
    border-bottom: 1px dashed #aaa;
    padding: 10px 0;
}
.area-content {
    padding: 10px;
    code {
        white-space: pre-wrap;
    }
}
// .wtest-style {
//     border: 1px solid #aaa;
// }