@use '@styles/components/avatar.scss' as avatarStyle;
@use '@styles/components/reply.scss' as replyStyle;
@use '@styles/components/btn.scss' as btnStyle;
@use '@styles/base/color.scss' as colorStyle;
.area-form {
    // padding: 10px;
    // border: 1px dashed #aaa;
    .area-form-tools {
        display: flex;
        justify-content: end;
    }
    .btn-submit {
        @include btnStyle.btn-w-100;
        @include colorStyle.bg-purple-1;
    }
    .area-form-item {
        input {
            width: 100%;
        }
    }
}
.area-tools {
    border-bottom: 1px dashed #aaa;
    padding: 10px 0;
    button.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: .5;
        filter: grayscale(1);
    }
    .tip {
        color: #66f;
    }
}
.area-content {
    padding: 10px;
    code {
        white-space: pre-wrap;
    }
    .area-content-tools {
        display: flex;
        justify-content:end;
        padding: 10px 0;
        button {
            margin-left: 10px;
        }
    }
    .area-interaction {
        @include colorStyle.bg-purple-2;
        padding: 10px;
    }
    .ul-comment {
        background: #fff;
        margin-bottom: 10px;
        padding: 10px;
        li {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px dashed #333;
            .comment-author {
                // width: 50px;
                margin-right: 6px;
                img {
                    @include avatarStyle.avatar-26;
                }
            }
            .comment-content {
                flex-grow: 1;
                // background: #eee; // wtest
                .area-reply {
                    @include replyStyle.area-reply
                }
            }
            .btn-reply,
            .btn-delete {
                padding: 0 6px;
            }
        }
    }
}
// .wtest-style {
//     border: 1px solid #aaa;
// }
/* wtest */
.form-wtest {
    input,
    textarea {
        border: 1px solid #00f;
    }
}
/* /wtest */
